*.o
*.a
*.so
*.dylib
config.log
config.status
GNUmakefile
src/include/pg_config.h
src/include/stamp-h
tmp_install/
src/port/pg_config_paths.h
compile_commands.json
*.log
*.png
pgdata/
objfiles.txt
*.pc
*.so
*.so.*
*.dylib
src/interfaces/
